{% extends 'base.html' %}



{% block body %}
    <header>
        <h1>MedTracker</h1>
        <p>Your personal medicine tracking app</p>
        <button id="LogInButton">Log in</button>
    </header>
    <main>
        <h2>Welcome!</h2>
        <p>Track your medications, set reminders, and manage your health easily with MedTracker.</p>
        <!-- Add your app content here -->
    </main>
    <div id ="button-container">
        <button id="AddMedication">Add a medication</button>
        <button id="Track">Track your medications </button>
        <button id="Reminders">Set reminders</button>   
    </div>  
    </div>
{% endblock body %}