<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head> 
<body>
    <h1 class="center">Medicine Tracker</h1>
    <p class="center">Welcome to your personal Medicine Tracker!</p><br>
    
    <div class="dashboard">
    <div class="todaysProgress">
        <h1>Today's Progress</h1>
        <p id="progress"></p>
    </div>
        
    <div class="todaysDoses">
        <h1>Today's Medications</h1>
        <p id="todaysDoses"></p>
        </div>
    

    <div class="todaysSchedule">
        <h1>Today's Schedule</h1>
        <p id="Schedule">No medications in your schedule</p>
    </div>
    
    <div id="yourMedicine">
        <h1>Your Medications</h1>
        <button onclick="showForm()" id="addMedicine">Add Medicine</button><br>
        <ul id="yourMedicineList">
            
        <div id="MedicineDiv" style="display: none;">
            <form class="medicineForm">
                <label for="medicineName">Medicine Name:</label><br>
                <input type="text" id="medicineName" name="medicineName"><br>

                <label for="medicineDose">Medicine Dose (mg):</label><br>
                <input type="number" id="medicineDose" name="medicineDose"><br>

                <label for="medicineFrequency">Frequency:</label><br>
                <select id="Frequency" name="Frequency">
                    <option value="once">Once a day</option>
                    <option value="twice">Twice a day</option>
                    <option value="three">Three times a day</option>
                    <option value="four">Four times a day</option>
                </select><br>

                <label for="timeForMedicine">Times to take:</label><br>
                <input type="time" id="timeToTake" name="timeToTake"><br>
            <div class='actionBtn'>
                <input type="submit" value="Submit" id="submit">
                <input type="submit" value="Delete" id="delete">
            </div>
            </form>
        </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>