<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedTracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head> 
<body>
    <h1 class="center">Medicine Tracker</h1>
    <p class="center">Welcome to your personal Medicine Tracker!</p><br>
    
    <div class="dashboard">
    <!--THIS WILL SHOW A PROGRESS BAR FOR MY MEDS -->
    <div class="todaysProgress">
        <h1>Today's Progress</h1>
        <div id="progressBar">
            <div id="progressInnerBar"></div>
        </div>
        <p id="progress" data-total-meds="{{totalMeds}}"></p>
    </div>
    <!--THIS WILL SHOW TODAYS MEDICINE AND WILL ONLY SHOW MEDS THAT I NEED TAKE NOT PASSED OR HAVE TAKEN-->
    <div class="UpcomingMeds">
        <h1>Upcoming Medications</h1>
        <div class="UpcomingMedDiv">
        {% for med in orderedMeds %}
            {% if med.time %}
                <li>{{ med.name }} in {{ timeLeft }}</li>  <!--This Doesnt work left-->
            {% endif %}
        {% endfor %}
        </div>
    </div>
    
    <!--THIS IS WHERE I WILL CHECK OFF MY MEDS THAT I NEED TO TAKE-->
    <div class="todaysSchedule">
        <h1>Today's Schedule</h1>
        <!--MUST FIX THIS--> 
        <div class="scheduleCheckList">
        <form id="medForm" method="POST">
            {% for med in orderedMeds %}
                    <div class="medicineCheckList {% if med.missed %}missed{% endif %} " id="med-{{ med.id }}"> <!--This is giving each med a uniqe id and a class called "missed if its missed"-->
                        <!--ADD AN IF STATMENT TO ADD A ! IF THE TIME HAS PASSED-->
                        <input type="checkbox" class="MedicineCheckBox" name="medicineCheck" value = "{{med.id}}">
                        <strong><span class='medName'>{{ med.name }}</span></strong><br>
                        <p class='medDose'>Dosage: {{ med.dosage }} mg</p>
                        <p class='medTime'>Time: {{ med.time.strftime('%I:%M %p') if med.time else 'N/A' }}</p>

                        {% if med.missed %}
                            
                        {% endif %}
                        
                    </div>
                {% else %}
                    <p id="Schedule">No medications scheduled for today</p>
                {% endfor %}
        </form>
        </div>
        
    </div>
    <!--THIS IS TO SHOW ALL MY MEDS AND ALLOWS ME TO EITHER ADD DELETE OR CHANGE-->
    <!--I would like to add a seach bar to look for a specific med-->
    <div id="yourMedicine">
        <h1>Your Medications</h1>
        <div class="yourMedicineList" id="medicineList">
            {% for med in medicines %}
                <div class="medicineItem">
                    <strong><span class='medName'>{{ med.name }}</span></strong>
                    <div class="iconActions">
                        <a href="/delete/{{med.id}}" alt="Delete">
                            <i class="fa-solid fa-trash-can"></i></a>
                            <!--So this works but the logic doesnt work kinda 2 steps foward one step back-->
                        <a href="/edit/{{med.id}}" alt="Edit">
                            <i class="fa-solid fa-pen-to-square" onclick="showForm()"></i></a>
                        </div>

                    <div class="medicineInfo">
                        <p>Dosage: {{ med.dosage }} mg</p>
                        <p>Time: {{ med.time.strftime('%I:%M %p') if med.time else 'N/A' }}</p>
                        {%if med.comments%}
                            <p>Notes: {{med.notes}}</p>
                        {% endif %}
                    </div>
                    
                </div>
            {% else %}
                    <p id="noMedicine">No medications added yet</p>
            {% endfor %}
        </div>      

        <button onclick="showForm()" id="addMedicine">Add Medicine</button><br>

        <div id="MedicineDiv" style="display: none;">
            <form method="POST" class="medicineForm">
                <label for="medicineName">Medicine Name:</label><br>
                <input type="text" id="medicineName" name="medicineName" value="{{ medToEdit.name if medToEdit }}" required><br>

                <label for="medicineDose">Medicine Dose (mg):</label><br>
                <input type="number" id="medicineDose" name="medicineDose" value="{{ medToEdit.dose if medToEdit }}" required><br>

                <label for="Notes">Notes (Optinal)</label><br>
                <input type="text" id="Notes" name="Notes" value="{{ medToEdit.comments if medToEdit }}" ><br>

                <label for="medicineFrequency">Frequency:</label><br>
                <select id="Frequency" name="Frequency">
                    <option value="once">Once a day</option>
                    <option value="twice">Twice a day</option>
                    <option value="three">Three times a day</option>
                    <option value="four">Four times a day</option>
                </select><br>

                <label for="timeForMedicine">Times to take:</label><br>
                <input type="time" id="timeToTake" name="timeToTake"value="{{ medToEdit.time if medToEdit }}"  required><br>
                
            <div class='actionBtn'>
                <input type="submit" value="Submit" id="submit" >
                <input type="button" value="Cancel" id="cancel" onclick="cancelMedicine()">
            </div>
            </form>
            
        </div>
    </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://kit.fontawesome.com/3c0d530cd7.js" crossorigin="anonymous"></script>
</body>
</html>