{% extends 'base.html' %}

{% block body %}
    <header>
        <h1>My Medications</h1>
        <p>Manage your medications and health easily with MedTracker.</p>
    </header>
    <main>
        <h2 id = "yourMedicine">Your Medications</h2>
        <table>
            <tr>
                <th>Medicine</th>
                <th>Dosage</th>
                <th>Frequency</th>
            </tr>
            <tr>
                <td>Advil</td>
                <td>200mg</td>
                <td>Every 6 hours</td>
            </tr>
        </table>
        <p>Here you can view and manage your medications.</p>
    </main>
{% endblock body %}